<!--<div class="container">-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">ID</th>-->
<!--      <th scope="col">Name</th>-->
<!--      <th scope="col">Phone</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr *ngFor="let user of users">-->
<!--      <th scope="row">{{ user.id }}</th>-->
<!--      <td>{{ user.name }}</td>-->
<!--      <td>{{ user.phone }}</td>-->
<!--      <button (click)="deleteUserOnClick(user.id)" type="button" class="btn btn-danger">Delete</button>-->
<!--      <button (click)="navigateToUpdate(user.id)" type="button" class="btn btn-warning">Update</button>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <a class="add-user-link btn btn-primary" (click)="navigateToForm()">Add User</a>-->
<!--</div>-->
